aichat/node_modules/
aichat/yarn.lock
aichat/package-lock.json
aichat/dist/

server/core_ai/__pycache__/
server/admin/__pycache__/

server/index
server/store
server/test_index
server/test_gpt_index

crawling/__pycache__/

.env

